<div class="col-lg-12 mt-3">
  <h1>{{ pageTitle }}</h1><hr />

  <div class="alert alert-success col-md-5 mx-auto" *ngIf="status === 'success'">
    Se ha actualizado la información del usuario
  </div>
  <div class="alert alert-danger col-md-5 mx-auto" *ngIf="status === 'error'">
    Algo ha fallado
  </div>

  <form class="col-lg-5 px-0 mx-auto" #userEditForm='ngForm' (ngSubmit)="onSubmit(userEditForm)" >

    <div class="form-group">
      <label for="name">Nombre</label>
      <input class="form-control" id="name" name="name"
             pattern="[a-zA-ZÀ-ÿ ñ]+" required type="text"
             #name="ngModel" [(ngModel)]="user.name"
      />
      <small class="invalid-feedback d-block" *ngIf="!name.valid && name.touched">
        El nombre no es válido
      </small>
    </div>

    <div class="form-group">
      <label for="surname">Apellidos</label>
      <input class="form-control" id="surname" name="surname"
             pattern="[a-zA-ZÀ-ÿ ñ]+" required type="text"
             #surname="ngModel" [(ngModel)]="user.surname"
      />
      <small class="invalid-feedback d-block" *ngIf="!surname.valid && surname.touched">
        Los apellidos no es válido
      </small>
    </div>

    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input class="form-control" id="email" name="email"
             pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required type="email"
             #email="ngModel" [(ngModel)]="user.email"
      />
      <small class="invalid-feedback d-block" *ngIf="!email.valid && email.touched">
        El correo electrónico no es válido
      </small>
    </div>

    <div class="form-group">
      <label for="avatar">Imagen</label>
      <angular-file-uploader
        [config]="afuConfig"
        [resetUpload]=resetVar
        (ApiResponse)="avatarUpload($event)"
      ></angular-file-uploader>
    </div>

    <input class="btn btn-outline-primary" [disabled]="userEditForm.invalid" type="submit" value="Guardar" />

  </form>

</div>
