<div class="col-lg-12 mt-3" *ngIf="topic">
  <div class="topic-data col-lg-7 mx-auto">
    <h2>{{ topic.title }}</h2>
    <span class="badge badge-primary">{{ topic.user.name + ' ' + topic.user.surname }}</span>
    <span class="badge badge-light ml-2">publicada {{ topic.date | amLocale: 'es' | amTimeAgo }}</span>
    <span class="badge badge-warning ml-2" *ngIf="topic.lang">{{ topic.lang }}</span>
    <hr />

    <p id="topic-content" class="mt-3">
      {{ topic.content }}
    </p>

    <p id="topic-code" class="mt-3" *ngIf="topic.code && topic.lang">
      <ngx-highlight-js lang="{{ topic.lang | lowercase }}" code="{{ topic.code }}"></ngx-highlight-js>
    </p>
  </div>
</div>
