<div class="col-lg-12 vh-90 justify-content-center align-items-center d-flex">
  <div class="jumbotron text-center w-100">
    <h1 class="display-4">{{ pageTitle }}</h1>
    <p class="lead">Resuelve tus dudas, aprende, comparte y ayuda a la comunidad de desarrolladores.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg mr-3" href="#" role="button">Ver temas</a>
    <a class="btn btn-primary btn-lg mr-3" href="#" role="button">Comunidad</a>
    <a class="btn btn-primary btn-lg mr-3" href="#" role="button">Añade nuevo tema</a>
  </div>
</div>
