<div class="col-lg-3 float-left mt-3">
  <h3>Panel de usuario</h3>
  <hr />

  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a [ngClass]="getClass('list')" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['list']" role="tab" aria-controls="v-pills-home" aria-selected="true">Mis temas</a>
    <a [ngClass]="getClass('create')" id="v-pills-profile-tab" data-toggle="pill" [routerLink]="['create']" role="tab" aria-controls="v-pills-profile" aria-selected="false">Crear tema</a>
    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" [routerLink]="['/settings']" role="tab" aria-controls="v-pills-settings" aria-selected="false">Ajustes</a>
  </div>
</div>

<div class="col-lg-9 float-right mt-3">
  <router-outlet></router-outlet>
</div>
